.dueday-filtering {
  margin-top: 10px;
  color: white;
}

.priority-sorting {
  margin-top: 10px;
  color: white;
}

.done-filtering {
  margin-top: 10px;
  color: white;
}

button {
  width: 60px;
  height: 24px;
  margin: 0 5px;
}

button:hover {
  cursor: pointer;
}

.butt {
  width: 95px;
}

.clicked {
  background: #d62261;
  border-radius: 2px;
  padding:       2px 5px;
  color:          white;
  display:       inline-block;
  font:          normal 400 13px/1 "Calibri", sans-serif;
  text-align:    center;
}

@media all and (max-width: 414px) {
  .done-sorting-text,
  .dueday-sorting-text,
  .priority-sorting-text {
    display: none
  }
}