body {
  margin: 0 auto;
  padding: 0 0 13px 0;
  font-family: "Lato", sans-serif;
  /*background-color: #F8F9FA;*/
  max-width: 600px;
  color: #000;
}

.banner{
  background: url(components/business/AppStyling/clipboard.png) no-repeat fixed 50% 50%;
}

.nav-panel{
  color: #ffffff;
}

.nazwaKlasy{
  background-image: url(components/business/AppStyling/F8F9FA.png);
}

.nazwaKlasy2{
  background-image: url(components/business/AppStyling/what-the-hex.png);
}

.add-task{
  background: #6b6c68;
  background:    -webkit-linear-gradient(#3d85c6, #6b6c68);
  background:    linear-gradient(#3d85c6, #6b6c68);
  border-radius: 5px;
}

.show-userpanel,
.signOutButton,
.clear-filters-button,
.add-task-button,
.show-filters{
  background:    white;
  padding:       2px 5px;
  color:         #d62261;
  display:       inline-block;
  font:          normal 400 13px/1 "Calibri", sans-serif;
  text-align:    center;
  border-width:  0;
  font-weight: bold;
  border-radius: 2px;
}

.my-day, .my-week, .smallFilterButton{
  background:    white;
  border-radius: 2px;
  padding:       2px 5px;
  color:         #d62261;
  display:       inline-block;
  font:          normal 400 13px/1 "Calibri", sans-serif;
  text-align:    center;
  border-width: 0;
  font-weight: bold;
}

.changeThemeBtn{
  background:    white;
  border-radius: 2px;
  padding:       2px 5px;
  color:         #d62261;
  display:       inline-block;
  font:          normal 400 13px/1 "Calibri", sans-serif;
  text-align:    center;
  font-weight: bold;
  width:         130px;
  border-width: 0;
}

